name: SC-Gateway

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Deploy
        uses: appleboy/ssh-action@v1.0.3
        env:
          SC_SERVER_JWT_SECRET: ${{ secret.SC_SERVER_JWT_SECRET }}
          SC_SERVER_ADDR: ${{ vars.SC_SERVER_ADDR }}
        with:
          host: ${{ vars.SSH_HOST }}
          port: ${{ vars.SSH_PORT }}
          username: ${{ vars.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script_stop: true
          envs: SC_SERVER_JWT_SECRET, SC_SERVER_ADDR
          script: |
            cd ${{ vars.PROJECT_DIR }}
            git stash
            git checkout main
            git pull origin main
            docker compose up --build -d
